@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.menu-container {
  text-align: left;
  padding: 20px;
  background-color: #fff8e7;
}

.categoria {
  margin-bottom: 20px;
}

h3 {
  font-family: 'Pacifico', cursive;
  color: #6f4e37;
  font-size: 26px;
  margin-bottom: 10px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.precio {
  font-weight: bold;
  color: #d2691e;
}