@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.menu-container {
  text-align: left; /* Alineamos todo el contenido a la izquierda */
  padding: 20px;
  background-color: #fff8e7;
}

.categoria {
  margin-bottom: 20px;
}

.menu-seccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.menu-texto {
  text-align: left;
  width: 60%;
}

.menu-imagen {
  width: 35%;
}

.menu-imagen img {
  width: 100%;
  border-radius: 8px;
}


h3 {
  font-family: 'Pacifico', cursive; /* Aplicamos la fuente */
  color: #6f4e37;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: left; /* Alineamos el título a la izquierda */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.precio {
  font-weight: bold;
  color: #d2691e;
}