nav {
    background-color: #ff4800;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(246, 202, 30);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: rgb(255, 92, 92);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
