nav {
    background-color: #ff9328;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(148, 67, 0);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
